@model JobBoardv3.DATA.EF.OpenPosition

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2 class="topstyle">Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OpenPosition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.StoreNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.StoreNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.Title)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>*@


<div class="pageTitleContainer">
    <div class="pageTitle">Delete</div>
</div>

<div class="editUserContainer">
    <h3>Are you sure you want to delete this Available Position? </h3>
    <div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Location.StoreNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location.StoreNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Position.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Position.Title)
            </dd>

        </dl>

            <div class="editUserSaveContainer">
                <input type="submit" value="Delete" class="deleteButton" />
            </div>
            <div class="backButtonContainer">
                @Html.ActionLink("Back to List", "Index", new { }, new { @class = "actionButton" })
            </div>
        }
    </div>
</div>