@model JobBoardv3.DATA.EF.OpenPosition

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageTitleContainer">
    <div class="pageTitle">@Html.DisplayFor(model => model.Position.Title)</div>
</div>
<div class="editUserContainer">
    <h4>OpenPosition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.StoreNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.StoreNumber)
        </dd>

    </dl>
    <div class="editUserSaveContainer">
        @Html.ActionLink("Edit", "Edit", new { id = Model.OpenPositionId }, new { @class = "actionButton" })
    </div>
    <div class="backButtonContainer">
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "actionButton" })
    </div>
</div>


