@model IdentitySample.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="pageTitleContainer">
    <div class="pageTitle">Edit User</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal editUserContainer">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

    <div class="flexSpaceBetween sectionMargin">
        <div class="sectionName sectionNameWidth">Email</div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>
    <div class="flexSpaceBetween sectionMargin">
        <div class="sectionName sectionNameWidth">Roles</div>
        <span class=" col-md-10">
            @foreach (var item in Model.RolesList)
            {
                <input type="checkbox" id="@item.Value" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                @Html.Label(item.Value, new { @class = "control-label" })
            }
        </span>
    </div>
        <div id="LocationSelect"  class="flexSpaceBetween sectionMarginLast">
            <div  class="sectionName sectionNameWidth">Store Number</div>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.LocationId, Model.LocationList)
                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="editUserSaveContainer">
            <input type="submit" value="Save" class="applyButton" />    
        </div>

    <div class="backButtonContainer">
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "actionButton" })
    </div>
</div>
}

   

<script type="text/javascript">

    $(document).ready(function () {
        valueChanged()
        console.log("ready!");
    });

    $("#Manager").on('click', function () {
        valueChanged();
    });

    function valueChanged() {
        console.log("valueChanged!");

        if ($('#Manager').is(":checked"))
            $("#LocationSelect").show();
        else
            $("#LocationSelect").hide();
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
