@model JobBoardv3.DATA.EF.Application

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var FullName = Model.FirstName + " " + Model.LastName;

}

<h2 class="topstyle">Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Name
        </dt>
        
        <dd>
            @FullName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumeFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumeFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationStatu.StatusName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenPosition.OpenPositionId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.OpenPosition.Position.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenPosition.Position.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenPosition.Position.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenPosition.Position.JobDescription)
        </dd>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
