@model JobBoardv3.DATA.EF.Application

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var FullName = Model.UserDetail.FirstName + " " + Model.UserDetail.LastName;

}

<div class="pageTitleContainer">
    <div class="pageTitle">@FullName</div>
</div>

<div class="editUserContainer">
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Email
        </dt>

        <dd>
            <a href="mailto:@ViewBag.UserEmail">@ViewBag.UserEmail</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationStatu.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserDetail.ResumeFilename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDetail.ResumeFilename)
        </dd>



        @*<dt>
            @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenPosition.OpenPositionId)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.OpenPosition.Location.StoreNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpenPosition.Location.StoreNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpenPosition.Position.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenPosition.Position.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenPosition.Position.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenPosition.Position.JobDescription)
        </dd>





    </dl>
    <div class="editUserSaveContainer">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationId }, new { @class = "actionButton" })
    </div>
    <div class="backButtonContainer">
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "actionButton" })
    </div>
</div>
