@model IEnumerable<JobBoardv3.DATA.EF.Application>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="topstyle">Applications</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResumeFileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResumeFileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationStatu.StatusName)
        </td>

        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ApplicationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationId })
            </td>
        }
        @if (Request.IsAuthenticated && User.IsInRole("Manager"))
        {
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ApplicationId }) 
            </td>
        }

    </tr>
    }

</table>
