<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tom's Grocers Company Job Board</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<style>
    body {
        background: #00d0ff;
    }
</style>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="emptyLink">@Html.ActionLink("Home", "Index", "Home")</a></li>

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li><a class="emptyLink">@Html.ActionLink("Roles Admin", "Index", "RolesAdmin")</a></li>
                        <li><a class="emptyLink">@Html.ActionLink("Users Admin", "Index", "UsersAdmin")</a></li>
                        <li><a class="emptyLink">@Html.ActionLink("Positions", "Index", "Positions")</a></li>
                        <li><a class="emptyLink">@Html.ActionLink("Available Positions", "Index", "OpenPositions")</a></li>
                        <li><a class="emptyLink">@Html.ActionLink("Applications", "Index", "Applications")</a></li>

                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Manager"))
                    {
                        <li><a class="emptyLink">@Html.ActionLink("Positions", "Index", "Positions")</a></li>
                        <li><a class="emptyLink">@Html.ActionLink("Available Positions", "Index", "OpenPositions")</a></li>
                        <li><a class="emptyLink">@Html.ActionLink("Applications", "Index", "Applications")</a></li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Employee"))
                    {
                        <li><a class="emptyLink">@Html.ActionLink("Available Positions", "Index", "OpenPositions")</a></li>
                        <li><a class="emptyLink">@Html.ActionLink("Applications", "Index", "Applications")</a></li>
                    }
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <!-- Footer -->
        @*<footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
            </div>*@
            <!-- /.container -->
        @*</footer>*@
        <!-- Bootstrap core JavaScript -->
        <script src="~/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
