@model IEnumerable<JobBoardv3.DATA.EF.Position>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageTitleContainer">
    <div class="pageTitle">Positions</div>
</div>

<div class="cardContainer">
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div class="createContainer">
            @Html.ActionLink("+", "Create", new { }, new { @class = "actionButton" })
        </div>
    }
        
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="roleName">
                <b>@Html.DisplayFor(modelItem => item.Title)</b>
            </div>
            <div class="roleName">
                @Html.DisplayFor(modelItem => item.JobDescription)
            </div>
            <div class="cardActions">
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.PositionId }, new { @class = "actionButton" })
                    @Html.ActionLink("Details", "Details", new { id = item.PositionId }, new { @class = "actionButton" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.PositionId }, new { @class = "actionButton" })
                }

                @if (Request.IsAuthenticated && User.IsInRole("Manager"))
                {
                    @Html.ActionLink("Details", "Details", new { id = item.PositionId }, new { @class = "actionButton" })
                }

            </div>
        </div>
    }
</div>
