@model IdentitySample.Models.RoleViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="pageTitleContainer">
    <div class="pageTitle">Edit Role</div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="editContainer">
    <div class="editInner">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="flexSpaceBetween">
            <div class="roleName flexSm">Role Name</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

        </div>
    </div>

    <div  class="editUserSaveContainer">
        <input type="submit" value="Save" class="applyButton" />
    </div>
    <div class="backButtonContainer">
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "actionButton" })
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
